<%= form_tag("/search", method: "get") do %>
<div class="form-group">
  <%= label_tag(:q, "Search for:") %>
</div>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

<% @film.each do |m| %>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Nom du film</th>
      <th scope="col">Date de Sortie</th>
      <th scope="col">Photo de couverture</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= m[:name] %></td> </br>
      <td><%= m[:date] %></td>
      <td align="left"> <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2<%=m[:img]%>"  style="width:150px;height:200px;">
      </td>
    </tr>
  </tbody>
</table>
<%end%>
